.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: #F9F7FE;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.whole{
  border-radius: 12px;
  margin: 100px auto;
  padding: 20px;
  background-color: #FFFFFF;
  margin: 10 auto;
  border: solid 1px rgba(0, 0, 0, 12%);
  width: 45%;
  box-shadow: 0 30px 50px #41326414;
}
.input{
  width: 100%;
  display: inline-flex;
  text-align: center;
  justify-content:space-around;
}

#city{
  border: none;
  border-radius: 6px;
  padding: 12px;
  width: 60%;
  background-color: #F9F7FE;
  height: 40px;
  line-height: 15px;
  outline-color: #C2DBFE;
}
.button{
  width: 30%;
  background-color: #885DF1;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

img{
  margin: 10px auto;
}
.middel{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  justify-content: space-between;
}
.dis{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  }
.left{
  text-align: left;
  padding: 12px;
  
}
.right{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 25px;
  font-size: 2rem;
}
.p{
  color:#F65282;
  font-weight:950;
}
span{
  color:#F65282;
  font-weight:400;
}
.lists{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px auto;
  text-align: center;
}
.list{
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.day{

  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.footer{
  text-align: center;
  margin: 60px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
a{
  color: #885DF1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
